<!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/bootstrap.min.js"></script>
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/jasny-bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>