---
layout: default
---
    

    <div class="main-bg">
        <div class="mapWrap"><div class="map" id="map_canvas" class="shadow_header_footer"></div></div>
        <div class="container main-content" id="hacker-list">
            
            <div class="input-group search-box">
                <input type="search" class="form-control search light-table-filter" data-table="order-table" placeholder="Filter Exams (ex. CSC108)" aria-describedby="basic-addon1">
            </div>

            <h2 class="featurette-heading">{{page.month}} {{page.year}} Exam Timetable</h2>
            <div class="row featurette">
                <div class="col-md-12">
                    <table class="table table-condensed table-fixed" style="display: block">
                        <thead>
                            <tr class="exam">
                                <th class="m1">Course</th>
                                <th class="m2">Section</th>
                                <th class="m3">Date</th>
                                <th class="m4">Time</th>
                                <th class="m5">Location</th>
                                <th class="m6"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="timetable">
                        <table class="table order-table table-hover table-condensed table-fixed">
                            <tbody class="list">
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!-- /.container -->
    </div>